.request-block {
    width: 90%;
    margin: 20px auto;
    background-color: #bcbce4;
    border-radius: 10px;
    padding: 10px;
    font-size: 14pt;
    display: flex;
    justify-content: space-around;
}

.value {
    font-size: 12pt;
}