<clr-tabs>
    <clr-tab>
        <button clrTabLink id="link1">Активные заявки</button>
        <clr-tab-content id="active" *clrIfActive="true">
            <div id="alert" class="alert alert-danger">
                <div class="alert-items">
                    <div class="alert-item static">
                        <div class="alert-icon-wrapper">
                            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                        </div>
                        <span id="alertText" class="alert-text">
                        </span>
                    </div>
                </div>
                <button (click)="hideAlert()" type="button" class="close" aria-label="Close">
                    <clr-icon aria-hidden="true" shape="close"></clr-icon>
                </button>
            </div>
            <div *ngFor="let request of activeRequests" class="request-block">
                <div>
                    Из
                    <div class="value">{{request.islandStart.name | islandPipe}}</div>
                </div>
                <div>
                    До
                    <div class="value">{{request.islandEnd.name | islandPipe}}</div>
                </div>
                <div>
                    Корабль
                    <div class="value">
                        <span aria-haspopup="true" class="tooltip tooltip-lg">
                        {{request.ship.name}}
                            <span class="tooltip-content">
                            Скорость: {{request.ship.speed}}<br>
                            Вместимость: {{request.ship.capacity}}<br>
                            Длина: {{request.ship.length}}<br>
                            Ширина: {{request.ship.width}}<br>
                            Описание: {{request.ship.description}}
                        </span>
                    </span> (⭐{{request.ship.ratesAverage | number: '1.1-1'}})
                    </div>
                </div>
                <div>
                    Команда
                    <div class="value">{{request.crew.teamName}} (⭐{{request.crew.ratesAverage | number: '1.1-1'}})
                    </div>
                </div>
                <div>
                    Стоимость
                    <div class="value">{{request.cost}}</div>
                </div>
                <div>
                    Даты путешествия
                    <div class="value">{{request.dateStart}} - {{request.dateEnd}}</div>
                </div>
                <div>
                    Статус
                    <div class="value">{{request.status | statusPipe}}</div>
                </div>
                <div class="btn-group btn-primary">
                    <button (click)="approve(request)" class="btn btn-success" [disabled]="!canApprove(request)">
                        Принять
                    </button>
                    <button *ngIf="canReject(request)" (click)="reject(request)" class="btn btn-danger">Отклонить
                    </button>
                    <button *ngIf="canCancel(request)" (click)="cancel(request)" class="btn btn-danger">Отменить
                    </button>
                    <button *ngIf="canDelete(request)" (click)="deleteRequest(request)" class="btn btn-danger">Удалить
                    </button>
                </div>
            </div>
        </clr-tab-content>
    </clr-tab>

    <clr-tab>
        <button clrTabLink>Отмененные путешествия</button>
        <clr-tab-content id="cancelled" *clrIfActive>
            <div *ngFor="let request of cancelledRequests" class="request-block">
                <div>
                    Из
                    <div class="value">{{request.islandStart.name | islandPipe}}</div>
                </div>
                <div>
                    До
                    <div class="value">{{request.islandEnd.name | islandPipe}}</div>
                </div>
                <div>
                    Корабль
                    <div class="value">
                        <span aria-haspopup="true" class="tooltip tooltip-lg">
                        {{request.ship.name}}
                            <span class="tooltip-content">
                            Скорость: {{request.ship.speed}}<br>
                            Вместимость: {{request.ship.capacity}}<br>
                            Длина: {{request.ship.length}}<br>
                            Ширина: {{request.ship.width}}<br>
                            Описание: {{request.ship.description}}
                        </span>
                    </span> (⭐{{request.ship.ratesAverage | number: '1.1-1'}})
                    </div>
                </div>
                <div>
                    Команда
                    <div class="value">{{request.crew.teamName}} (⭐{{request.crew.ratesAverage | number: '1.1-1'}})
                    </div>
                </div>
                <div>
                    Стоимость
                    <div class="value">{{request.cost}}</div>
                </div>
                <div>
                    Даты путешествия
                    <div class="value">{{request.dateStart}} - {{request.dateEnd}}</div>
                </div>
                <div>
                    Статус
                    <div class="value">{{request.status | statusPipe}}</div>
                </div>
                <button *ngIf="canDelete(request)" (click)="deleteRequest(request)" class="btn btn-danger">Удалить
                </button>
            </div>
        </clr-tab-content>
    </clr-tab>

    <clr-tab>
        <button clrTabLink>Завершенные путешествия</button>
        <clr-tab-content id="completed" *clrIfActive>
            <div *ngFor="let request of completedRequests" class="request-block">
                <div>
                    Из
                    <div class="value">{{request.islandStart.name | islandPipe}}</div>
                </div>
                <div>
                    До
                    <div class="value">{{request.islandEnd.name | islandPipe}}</div>
                </div>
                <div>
                    Корабль
                    <div class="value">
                        <span aria-haspopup="true" class="tooltip tooltip-lg">
                        {{request.ship.name}}
                            <span class="tooltip-content">
                            Скорость: {{request.ship.speed}}<br>
                            Вместимость: {{request.ship.capacity}}<br>
                            Длина: {{request.ship.length}}<br>
                            Ширина: {{request.ship.width}}<br>
                            Описание: {{request.ship.description}}
                        </span>
                    </span> (⭐{{request.ship.ratesAverage | number: '1.1-1'}})
                    </div>
                </div>
                <div>
                    Команда
                    <div class="value">{{request.crew.teamName}} (⭐{{request.crew.ratesAverage | number: '1.1-1'}})
                    </div>
                </div>
                <div>
                    Стоимость
                    <div class="value">{{request.cost}}</div>
                </div>
                <div>
                    Даты путешествия
                    <div class="value">{{request.dateStart}} - {{request.dateEnd}}</div>
                </div>
                <div>
                    Статус
                    <div class="value">{{request.status | statusPipe}}</div>
                </div>
            </div>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>
