<clr-modal [(clrModalOpen)]="modalOpen" (clrModalOpenChange)="closeModal.emit()">
    <h3 class="modal-title">Команда {{crewProfile.crew.teamName}}
        <app-rating [rating]="crewProfile.crew.rates"></app-rating>
    </h3>
    <div class="modal-body">
        <b>Капитан</b> {{crewProfile.name}} {{crewProfile.surname}}
        <app-pirate-label [isPirate]="crewProfile.isPirate"></app-pirate-label>
        <br>
        <b>Почта:</b> {{crewProfile.email || "****"}}
        <br>
        <b>Телефон:</b> {{crewProfile.phone || "****"}}
        <br>
        <b>Цена за день:</b> {{crewProfile.crew.pricePerDay}}
        <br>
        <img *ngIf="crewProfile.crew.photo; else elseBlock" [src]="crewProfile.crew.photo" class="item-photo"/>
        <ng-template #elseBlock>
            <img [src]="defaultCrewPhotoUrl" class="item-photo"/>
        </ng-template>
        <br>
        <b>Характеристика:</b>
        {{crewProfile.crew.description}}

        <h5><b>Состав команды:</b></h5>
        <table class="table table-compact">
            <thead>
            <tr>
                <th>Имя</th>
                <th>Опыт</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let member of crewProfile.crew.members">
                <td>{{member.fullName}}</td>
                <td>{{member.experience}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</clr-modal>
