<form clrForm [formGroup]="shipProfileForm">
    <clr-modal [(clrModalOpen)]="modalOpen" (clrModalOpenChange)="modalClose.emit()">
        <h3 class="modal-title">
            Профиль корабля
            <span class="label label-success" *ngIf="!afraidPirates">предупредительный</span>
            <span class="label label-info" *ngIf="afraidPirates">смелый</span>
        </h3>
        <div class="modal-body">
            <clr-alert clrAlertType="danger" *ngIf="infoUpdated">{{infoUpdated}}</clr-alert>
            <clr-input-container>
                <label class="label-ship">Название</label>
                <input id="profile-name" class="input-ship" clrInput formControlName="name" type="text">
            </clr-input-container>
            <clr-input-container>
                <label class="label-ship">Фотография</label>
                <input id="photo-input" class="input-ship" clrInput formControlName="photo" type="text">
            </clr-input-container>
            <img *ngIf="photo" [src]="photo" id="photo" alt="">
            <clr-input-container>
                <label class="label-ship">Цена за день</label>
                <input id="price" class="input-ship" clrInput formControlName="pricePerDay" type="number">
            </clr-input-container>
            <clr-input-container>
                <label class="label-ship">Описание</label>
                <input id="description" class="input-ship" clrInput formControlName="description" type="text">
            </clr-input-container>
            <clr-input-container>
                <label class="label-ship">Длина</label>
                <input id="length" class="input-ship" clrInput formControlName="length" type="number">
            </clr-input-container>
            <clr-input-container>
                <label class="label-ship">Ширина</label>
                <input id="width" class="input-ship" clrInput formControlName="width" type="number">
            </clr-input-container>
            <clr-input-container>
                <label class="label-ship">Расход топлива</label>
                <input id="fuel" class="input-ship" clrInput formControlName="fuelConsumption" type="number">
            </clr-input-container>
            <clr-input-container>
                <label class="label-ship">Скорость</label>
                <input id="speed" class="input-ship" clrInput formControlName="speed" type="number">
            </clr-input-container>
            <clr-input-container>
                <label class="label-ship">Вместимость</label>
                <input id="capacity" class="input-ship" clrInput formControlName="capacity" type="number">
            </clr-input-container>
            <button id="vip" *ngIf="!afraidPirates" (click)="updateAfraid(true)" class="btn btn-link">
                боюсь пиратов
            </button>
            <button id="not-vip" *ngIf="afraidPirates" (click)="updateAfraid(false)" class="btn btn-link">
                не боюсь пиратов
            </button>
        </div>

        <div class="modal-footer">
            <button *ngIf="shipProfile"
                    id="btn-update"
                    class="btn btn-outline btn-save"
                    [disabled]="shipProfileForm.invalid"
                    (click)="updateShipProfile()">
                Обновить данные
            </button>
            <button *ngIf="!shipProfile"
                    class="btn btn-outline btn-save"
                    [disabled]="shipProfileForm.invalid"
                    (click)="registerNewShip()">
                Зарегистрировать корабль
            </button>
        </div>
    </clr-modal>
</form>
