<clr-alert clrAlertType="danger" *ngIf="submitMessage">{{submitMessage}}</clr-alert>
<div class="login-wrapper">
    <form clrForm [formGroup]="loginForm" class="login">
        <section class="title">
            <h3 class="welcome">Добро пожаловать в </h3>
            Treasure Island
        </section>
        <div class="login-group">
            <clr-alert id="errorAlert" clrAlertType="danger" *ngIf="errorMessage">{{errorMessage}}</clr-alert>
            <clr-input-container>
                <label class="label-login">Логин</label>
                <input class="inp-login" type="text" name="username" clrInput placeholder="Nickname"
                       formControlName="nick"/>
            </clr-input-container>
            <clr-password-container>
                <label class="label-login">Пароль</label>
                <input class="inp-login" type="password" name="password" clrPassword placeholder="Password"
                       formControlName="pswd"/>
            </clr-password-container>

            <button id="button-signin" [disabled]="loginForm?.invalid" (click)="submitLogin()" class="btn btn-primary btn-log">ВОЙТИ
            </button>

            <button class="btn btn-link btn-signin" (click)="registrationMode = true">Зарегистрироваться</button>
        </div>
    </form>
</div>

<app-signup *ngIf="registrationMode"
            [registrationMode]="registrationMode"
            [modalOpened]="registrationMode"
            [(submitMessage)]="submitMessage"
            (closeModal)="registrationMode= false; signup()">
</app-signup>
