<div cds-layout="vertical gap:sm" *ngIf="alertShow">
  <cds-alert-group type="banner" status="success">
    <cds-alert>
      Пользователь отправлен на обработку
      <button (click)="hideAlert()" class="btn btn-success" style="background: green">ОК</button>
    </cds-alert>
  </cds-alert-group>
</div>
<div class="login-wrapper">
    <form clrForm [formGroup]="loginForm" class="login">
        <section class="title">
            <h3 class="welcome">Добро пожаловать в </h3>
            Treasure Island
        </section>
        <div class="login-group">
          <clr-alert clrAlertType="danger" *ngIf="errorMessage">{{errorMessage}}</clr-alert>
            <clr-input-container>
                <label class="clr-sr-only">Логин</label>
                <input type="text" name="username" clrInput placeholder="Nickname" formControlName="nick"/>
            </clr-input-container>
            <clr-password-container>
                <label class="clr-sr-only">Пароль</label>
                <input type="password" name="password" clrPassword placeholder="Password" formControlName="pswd"/>
            </clr-password-container>

            <button class="btn btn-link" (click)="registrationMode = true">Зарегистрироваться</button>

            <button [disabled]="loginForm?.invalid" (click)="submitLogin()" class="btn btn-primary">ВОЙТИ</button>
        </div>
    </form>
</div>

<app-signup *ngIf="registrationMode"
            [registrationMode]="registrationMode"
            [modalOpened]="registrationMode"
            [(alertLogin)]="alertShow"
            (closeModal)="registrationMode= false; signup()">
</app-signup>
