<div class="login-wrapper">
    <form clrForm [formGroup]="loginForm" class="login">
        <section class="title">
            <h3 class="welcome">Добро пожаловать в </h3>
            SILVER PAW
        </section>
        <div class="login-group">
            <clr-input-container>
                <label class="clr-sr-only">Логин</label>
                <input type="text" name="username" clrInput placeholder="Username" formControlName="username"/>
            </clr-input-container>
            <clr-password-container>
                <label class="clr-sr-only">Пароль</label>
                <input type="password" name="password" clrPassword placeholder="Password" formControlName="password"/>
            </clr-password-container>
            <clr-alert clrAlertType="danger" *ngIf="errorMessage">{{errorMessage}}</clr-alert>

            <!--            TODO - add registration -->
            <!--            <button class="btn btn-link" (click)="registrationMode = true">Зарегистрироваться</button>-->

            <button [disabled]="loginForm?.invalid" (click)="submitLogin()" class="btn btn-primary">ВОЙТИ</button>
        </div>
    </form>
</div>