<header class="header-6" *ngIf="authService.isLoggedIn()">
    <div class="branding">
        <a class="nav-link" [routerLink]="['map']" routerLinkActive="active">
      <span class="clr-icon logo title">
          Treasure Island
      </span>
        </a>
    </div>
    <div class="header-nav">
        <a class="nav-link" [routerLink]="['map']" routerLinkActive="active">
            <span class="nav-text">Карта</span>
        </a>
      <a class="nav-link" [routerLink]="['requests']" routerLinkActive="active">
        <span class="nav-text">Заявки</span>
      </a>
      <a class="nav-link" *ngIf="authService.isAdmin()" [routerLink]="['approvals']" routerLinkActive="active">
        <span class="nav-text">Регистрации</span>
      </a>
    </div>
    <div class="header-actions header-actions--overflow" *ngIf="user">
        <clr-dropdown>
            <button class="nav-text" clrDropdownTrigger aria-label="open user profile">
                <clr-icon shape="user"></clr-icon>
                {{user.nickname}}
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <div class="dropdown-menu">
                <a clrDropdownItem>Мой профиль</a>
                <a (click)="logout()" clrDropdownItem>Выйти</a>
            </div>
        </clr-dropdown>
    </div>
</header>
