<header class="header-6">
    <div class="branding">
        <a class="nav-link" [routerLink]="['map']" routerLinkActive="active">
      <span class="clr-icon logo title">
          Treasure Island
      </span>
        </a>
    </div>
    <div class="header-nav" *ngIf="user">
        <a *ngIf="user" class="nav-link" [routerLink]="['map']" routerLinkActive="active">
            <span class="nav-text">Карта</span>
        </a>
        <a *ngIf="isUsualPerson()"
           class="nav-link" [routerLink]="['requests']"
           routerLinkActive="active">
            <span class=" nav-text">Заявки</span>
        </a>
        <a *ngIf="isAdmin()" class="nav-link" [routerLink]="['approvals']" routerLinkActive="active">
            <span class="nav-text">Регистрации</span>
        </a>
        <a *ngIf="isUsualPerson()" class="nav-link" [routerLink]="['ships']" routerLinkActive="active">
            <span class="nav-text">Корабли</span>
        </a>
        <a *ngIf="isUsualPerson()" class="nav-link" [routerLink]="['crews']" routerLinkActive="active">
            <span class="nav-text">Экипажи</span>
        </a>
        <a *ngIf="isFsbAgent()" class="nav-link" [routerLink]="['fsb']" routerLinkActive="active">
            <span class="nav-text">Статистика</span>
        </a>
    </div>
    <div class="header-actions header-actions--overflow" *ngIf="user">
        <clr-dropdown>
            <button class="nav-text" clrDropdownTrigger aria-label="open user profile">
                <clr-icon shape="user"></clr-icon>
                {{user.nickname}}
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <div class="dropdown-menu">
                <a *ngIf="!isAdmin()" clrDropdownItem (click)="openUserProfile()">Мой профиль</a>
                <a (click)="logout()" clrDropdownItem>Выйти</a>
            </div>
        </clr-dropdown>
    </div>
</header>
