<form clrForm [formGroup]="signupForm">
  <clr-modal [(clrModalOpen)]="modalOpened" clrModalSize="xl">
    <h3 class="modal-title">Регистрация</h3>
    <div class="modal-body">
      <clr-alert clrAlertType="danger" *ngIf="errorMessage">{{errorMessage}}</clr-alert>
      <clr-input-container>
        <label>Имя</label>
        <input clrInput formControlName="name" type="text">
      </clr-input-container>
      <clr-input-container>
        <label>Фамилия</label>
        <input clrInput formControlName="surname" type="text">
      </clr-input-container>
      <clr-input-container>
        <label>Имя пользователя</label>
        <input clrInput formControlName="nick" type="text">
      </clr-input-container>
      <clr-input-container>
        <label>Пароль</label>
        <input clrInput formControlName="password" type="password">
      </clr-input-container>
      <clr-input-container>
        <label>Электронная почта</label>
        <input clrInput formControlName="email" type="email">
      </clr-input-container>
      <clr-input-container>
        <label>Телефон</label>
        <input clrInput formControlName="phone" type="text">
      </clr-input-container>
      <clr-date-container>
        <label>Дата рождения</label>
        <input type="date" clrDate formControlName="dateOfBirth"/>
      </clr-date-container>
      -<clr-select-container>
        <label>Тип пользователя</label>
        <select clrSelect formControlName="userRole">
          <option [value]="Roles.TRAVELER">Путешественник</option>
          <option [value]="Roles.SHIP_OWNER">Капитан корабля</option>
          <option [value]="Roles.CREW_MANAGER">Владелец экипажа</option>
        </select>
      </clr-select-container>
      <!--<clr-select-container>
        <label>Пол</label>
        <select clrSelect formControlName="gender">
          <option [value]="Gender.FEMALE">Жeнский</option>
          <option [value]="Gender.MALE">Mужской</option>
        </select>
      </clr-select-container>-->
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="signup()">Зарегистрироваться</button>
    </div>
  </clr-modal>
</form>
