<app-alert [errorMessage]="errorMessage"></app-alert>
<div class="filter-ship">
    <h3>Фильтрация</h3>
    <table>
        <tr>
            <td>
                <clr-input-container>
                    <label>Минимальная скорость</label>
                    <input clrInput type="number" [(ngModel)]="filter.minSpeed"
                           (change)="filterProfiles()">
                </clr-input-container>
            </td>

            <td>
                <clr-range-container>
                    <label>Вместимость: {{filter.capacity}}</label>
                    <input clrRange type="range" [min]="minCapacity" [max]="maxCapacity"
                           [(ngModel)]="filter.capacity"
                           (change)="filterProfiles()"/>
                    <clr-control-helper>от {{minCapacity}} до {{maxCapacity}}</clr-control-helper>
                </clr-range-container>
            </td>

            <td>
                <clr-range-container>
                    <label>Минимальный рейтинг: {{filter.minRates}}</label>
                    <input clrRange type="range" [min]="minRates" [max]="maxRates"
                           [(ngModel)]="filter.minRates"
                           (change)="filterProfiles()"/>
                    <clr-control-helper>от {{minRates}} до {{maxRates}}</clr-control-helper>
                </clr-range-container>
            </td>
        </tr>
    </table>
</div>

<div id="profiles-list" class="ship-flex">
    <div *ngFor="let profile of filteredProfiles"
         class="profile card clickable"
         (click)="selectedProfileId = profile">
        <div class="card-header">
            {{profile.ship.title}}
            <app-rating [rating]="profile.ship.rates"></app-rating>
        </div>
        <div class="card-block">
            <div class="card-media-block">
                <img *ngIf="profile.ship.photo; else elseBlock" [src]="profile.ship.photo" class="item-photo"/>
                <ng-template #elseBlock>
                    <img [src]="defaultShipPhotoUrl" class="item-photo"/>
                </ng-template>
            </div>

            <div class="card-text">
                <b>Капитан:</b> {{profile.name}} {{profile.surname}}
                <app-pirate-label [isPirate]="profile?.isPirate"></app-pirate-label>

                <br>
                <b>Почта:</b> {{profile.email || "****"}}
                <br>
                <b>Телефон:</b> {{profile.email || "****"}}
                <br>
                <b>Скорость:</b> {{profile.ship.speed}}
                <br>
                <b>Вместимость:</b> {{profile.ship.capacity}}
                <br>
                <b>Описание:</b> {{profile.ship.description}}
            </div>
        </div>
    </div>
</div>

<app-view-ship-profile *ngIf="selectedProfileId"
                       [modalOpen]="!!selectedProfileId"
                       [shipProfile]="selectedProfileId"
                       (closeModal)="selectedProfileId = undefined">
</app-view-ship-profile>
