<form clrForm [formGroup]="crewProfileForm">
    <clr-modal [(clrModalOpen)]="modalOpen" (clrModalOpenChange)="modalClose.emit()">
        <h3 class="modal-title">Профиль команды</h3>
        <div class="modal-body">
            <clr-alert clrAlertType="danger" *ngIf="infoUpdated">{{infoUpdated}}</clr-alert>
            <clr-input-container>
                <label class="label-crew">Название</label>
                <input id="crew-name" class="input-crew" clrInput formControlName="teamName" type="text">
            </clr-input-container>
            <clr-input-container>
                <label class="label-crew">Фотография</label>
                <input id="photo-crew" class="input-crew" clrInput formControlName="photo" type="text">
            </clr-input-container>
            <img *ngIf="photo" [src]="photo" id="photo" alt="">
            <clr-input-container>
                <label class="label-crew">Цена за день</label>
                <input id="price-crew" class="input-crew" clrInput formControlName="pricePerDay" type="number">
            </clr-input-container>
            <clr-input-container>
                <label class="label-crew">Описание</label>
                <input id="description-crew" class="input-crew" clrInput formControlName="description" type="text">
            </clr-input-container>

            <div id="membersDiv" formArrayName="members" class="marginTop20">
                <hr>
                <label class="label-crew">Члены экипажа:</label>
                <hr>
                <div *ngFor="let member of getMembersArr().controls; let i = index"
                     [formGroupName]="i">
                    <div class="member-info">
                        <clr-input-container>
                            <label [for]="'fullName'+i" class="label-crew">Имя</label>
                            <input class="input-crew" clrInput [id]="'fullName'+i" formControlName="fullName"
                                   type="text">
                        </clr-input-container>
                        <clr-input-container>
                            <label class="label-crew" [for]="'exp'+i">Опыт</label>
                            <input class="input-crew" [id]="'exp'+i" clrInput formControlName="experience"
                                   type="number">
                        </clr-input-container>
                        <span>
                        <button class="btn btn-link" (click)="deleteCrewMember(i)">Удалить</button>
                    </span>
                    </div>
                </div>
                <button class="btn btn-info-outline btn-crew marginTop20" (click)="addNewMember()">Добавить</button>
            </div>
        </div>

        <div class="modal-footer">
            <button *ngIf="crewProfile"
                    id="btn-crew-update"
                    class="btn btn-outline btn-crew"
                    [disabled]="crewProfileForm.invalid"
                    (click)="updateCrewProfile()">
                Обновить данные
            </button>
            <button *ngIf="!crewProfile"
                    class="btn btn-outline btn-crew"
                    [disabled]="crewProfileForm.invalid"
                    (click)="registerNewCrew()">
                Зарегистрировать команду
            </button>
        </div>
    </clr-modal>
</form>
