<clr-modal [(clrModalOpen)]="modalOpen" (clrModalOpenChange)="closeModal.emit()">
    <h3 class="modal-title">Корабль {{shipProfile.ship.title}}
        <app-rating [rating]="shipProfile.ship.rates"></app-rating>
    </h3>
    <div class="modal-body">
        <b>Капитан:</b> {{shipProfile.name}} {{shipProfile.surname}}
        <app-pirate-label [isPirate]="shipProfile.isPirate"></app-pirate-label>
        <br>
        <b>Почта:</b> {{shipProfile.email || "****"}}
        <br>
        <b>Телефон:</b> {{shipProfile.phone || "****"}}
        <br>
        <b>Вместимость:</b> {{shipProfile.ship.capacity}}
        <br>
        <b>Скорость:</b> {{shipProfile.ship.speed}}
        <br>
        <img *ngIf="shipProfile.ship.photo; else elseBlock" [src]="shipProfile.ship.photo" class="item-photo"/>
        <ng-template #elseBlock>
            <img [src]="defaultShipPhotoUrl" class="item-photo"/>
        </ng-template>
        <br>
        <b>Характеристика:</b>
        {{shipProfile.ship.description}}
    </div>
</clr-modal>
