<app-alert [errorMessage]="errorMessage"></app-alert>
<clr-spinner *ngIf="loading"></clr-spinner>

<div class="user-div">
    <h1>Мой профиль <clr-icon *ngIf="user?.vip" shape="crown"></clr-icon></h1>
    <clr-alert clrAlertType="danger" *ngIf="infoUpdated">{{infoUpdated}}</clr-alert>
    <table>
        <tr>
            <td>
                <img height="400" width="400" src="./assets/user.jpg" alt="avatar">
            </td>
            <td>
                <form clrForm [formGroup]="userProfileForm">
                    <span *ngIf="!user?.activated"
                          class="label label-danger">Акаунт не подтвержден администратором</span>

                    <clr-input-container>
                        <label>Имя</label>
                        <input id="name" clrInput formControlName="name" type="text">
                    </clr-input-container>
                    <clr-input-container>
                        <label>Фамилия</label>
                        <input id="surname" clrInput formControlName="surname" type="text">
                    </clr-input-container>
                    <clr-checkbox-wrapper *ngIf="shipOwner || crewManager">
                        <label>Делиться контактами</label>
                        <input id="contact-shared" type="checkbox" clrCheckbox formControlName="shareContacts"/>
                    </clr-checkbox-wrapper>
                    <clr-input-container>
                        <label>Почта</label>
                        <input id="email" clrInput formControlName="email" type="text">
                    </clr-input-container>
                    <clr-input-container>
                        <label>Телефон</label>
                        <input id="phone" clrInput formControlName="phone" type="text">
                    </clr-input-container>
                    <clr-input-container>
                        <label>Дата рождения</label>
                        <input id="birthDate" clrInput formControlName="birthDate" type="text">
                    </clr-input-container>

                    <button id="ship-profile" *ngIf="shipOwner" (click)="openShipProfile()"
                            class="btn btn-outline btn-bottom">
                        Профиль корабля
                    </button>
                    <button id="crew-member-profile" *ngIf="crewManager" (click)="openCrewProfile()"
                            class="btn btn-outline btn-bottom">
                        Профиль команды
                    </button>

                    <button id="btn-save" [disabled]="!userProfileForm.touched" (click)="updateUser()"
                            class="btn btn-outline btn-bottom">
                        Сохранить изменения
                    </button>

<!--                    <button id="vip" *ngIf="user.vip" (click)="revertVip()" class="btn btn-outline btn-bottom">-->
<!--                        Убрать VIP статус-->
<!--                    </button>-->
<!--                    <button id="not-vip" *ngIf="!user.vip" (click)="makeUserVip()" class="btn btn-outline btn-bottom">-->
<!--                        Стать VIP пользователем-->
<!--                    </button>-->
                </form>
            </td>
        </tr>
    </table>
</div>

<app-edit-crew-profile *ngIf="openCrewProfileModal"
                       [modalOpen]="openCrewProfileModal"
                       [crewProfile]="crew"
                       (modalClose)="openCrewProfileModal=false">
</app-edit-crew-profile>

<app-edit-ship-profile *ngIf="openShipProfileModal"
                       [modalOpen]="openShipProfileModal"
                       [shipProfile]="ship"
                       (modalClose)="openShipProfileModal=false"
></app-edit-ship-profile>
