.map-container {
    width: 80%;
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 80%;
    margin: auto;
}

.grid-cell {
    margin: 0px auto;
    width: 100%;
}

.selected {
    fill: #F5C84C;
}

.alert {
    display: none;
    width: 50%;
    margin: 5px 10px 0px auto;
}