.map-container {
    width: 80%;
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: auto;
}

.grid-cell {
    margin: 0px auto;
    width: 100%;
    display: flex;
    justify-content: center;
}