<form clrForm [formGroup]="tripRatingForm">
    <clr-modal [(clrModalOpen)]="modalOpened" clrModalSize="xl">
        <h1 class="modal-title">Выставление рейтинга поездке</h1>
        <div class="modal-body" style="overflow-y: hidden; overflow-x: hidden">
            <clr-alert clrAlertType="danger" *ngIf="errorMessage">{{errorMessage}}</clr-alert>
            <clr-input-container>
                <label class="label-rating">Рейтинг корабля</label>
                <input id="ship-rate" class="input-rating" clrInput formControlName="ship" type="number" min="1" max="5">
            </clr-input-container>
            <clr-input-container>
                <label class="label-rating">Рейтинг экипажа</label>
                <input id="crew-rate" class="input-rating" clrInput formControlName="crew" type="number" min="1" max="5">
            </clr-input-container>
        </div>
        <div class="modal-footer">
            <button id="rateTrip" [disabled]="tripRatingForm.invalid" type="button" class="btn btn-outline btn-rating"
                    (click)="rateTrip()">
                Выставить рейтинг
            </button>
        </div>
    </clr-modal>
</form>
